<!-- Display the genres... would like to display in a pretty grid format -->

<% if flash[:notice] %>
  <%= flash[:notice] %>
<% end %>

<% @genres.each do |genre| %>
  <li>
    <%= link_to "#{genre.name}", genre_path(genre) %>
  </li>
<% end %>
