<!-- Display the genres... would like to display in a pretty grid format -->

<% if flash[:notice] %>
  <center><%= flash[:notice] %></center>
  <% flash[:notice] = nil %>
<% end %>

<ul class="rig columns-3">
<% @genres.each do |genre| %>
  <%= link_to genre_path(genre, genre.name) do %>
      <li>
      <h2><center><%= genre.name %></center></h2>
      </li>
  <% end %>
<% end %>
</ul>