<!-- Display the genres... would like to display in a pretty grid format -->

<% if flash[:notice] %>
  <center><%= flash[:notice] %></center>
  <% flash[:notice] = nil %>
<% end %>

<% @genres.each do |genre| %>
  <div class="image-zoom-container">
    <div class="zoom-container">
        <span class="zoom-caption">
          <h2><center><%= link_to "#{genre.name}", genre_path(genre) %></center></h2>
        </span>
        <img src="http://www.centrestagelive.com.au/JAZZ_BANDS_files/trumpet-jazz-band.jpg" />
    </div>

    <div class="zoom-container">
      <span class="zoom-caption">
        <h2><center><%= link_to "#{genre.name}", genre_path(genre) %></center></h2>
      </span>
      <img src="" />
    </div>
  </div>
<% end %>
