<!-- Display the genres... would like to display in a pretty grid format -->

<% if flash[:notice] %>
  <center><%= flash[:notice] %></center>
  <% flash[:notice] = nil %>
<% end %>

<% @genres.each do |genre| %>
  <%= link_to genre_path(genre, genre.name) do %>
    <ul class="rig columns-3">
      <li>
      <h2><center><%= genre.name %></center></h2>
      <img src="http://www.centrestagelive.com.au/JAZZ_BANDS_files/trumpet-jazz-band.jpg" />
      </li>
    </ul>
  <% end %>
<% end %>