<!DOCTYPE html>
<html>
<head>
  <title>Kendrick</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <ul>
    <a href="/"><li>Home</li></a>
    <a href="/users/new"><li>Signup</li></a>
    <a href="/users/login"><li>Login</li></a>
    <!-- Renders logout if there is a session -->
    <% if session[:user_id] %>
      <a href="#"><li>Logout</li></a>
    <% end %>
  </ul>
<%= yield %>

</body>
</html>
