<h1 id="review-tag">Edit review</h1>

<%= form_for :review, url: review_path(@review), method: :patch do |f| %>
 <div class="review-box">
    <%= f.label :review %><br>
    <%= f.text_area :body %><br>
    <%= f.submit %>
 </div>
<% end %>

